.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CED3CD;
    min-height: 100vh;
}

.aktiviteterPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CED3CD;
    padding: 20px;
}