.container {
  margin-top: 5vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: black;
    font-size: 30px;
    margin: 20px;
  }
}

.form {
  width: 70%;
  color: #255d44;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
